---
import Rails from "/assets/icons/rails-icon.svg"
import Svelte from "/assets/icons/svelte-icon.svg"
import Angular from "/assets/icons/angular-icon.svg"
import Node from "/assets/icons/nodejs-icon.svg"

import Typescript from "/assets/icons/typescript-icon.svg"
import Javascript from "/assets/icons/javascript-icon.svg"
import Ruby from "/assets/icons/ruby-icon.svg"
---

<script>
  import { gsap } from "gsap"

  gsap.from(".language-icon", {
    duration: 1,
    opacity: 0,
    y: 20,
    stagger: 0.1,
    ease: "power4.out",
    onComplete: () =>
      document
        .querySelectorAll(".language-icon")
        .forEach((icon) => icon.classList.add("transition", "duration-1000", "ease-in-out")),
  })
</script>

<section class="max-w-screen-xl mx-auto pt-10">
  <div class="flex items-center justify-between">
    <img src={Rails} alt="Ruby on Rails Logo" height="48" class="grayscale hover:grayscale-0 language-icon" />
    <img src={Svelte} alt="Svelte Logo" height="48" class="grayscale hover:grayscale-0 language-icon" />
    <img src={Angular} alt="Angular Logo" height="48" class="grayscale hover:grayscale-0 language-icon" />
    <img src={Typescript} alt="Typescript Logo" height="48" class="grayscale hover:grayscale-0 language-icon" />
    <img src={Javascript} alt="Javascript Logo" height="48" class="grayscale hover:grayscale-0 language-icon" />
    <img src={Ruby} alt="Ruby Logo" height="48" class="grayscale hover:grayscale-0 language-icon" />
    <img src={Node} alt="Node.js Logo" height="48" class="grayscale hover:grayscale-0 language-icon" />
  </div>
</section>
